<!doctype html>
<html ng-app="PaperlessApp">
    <head>
        <title>Paperless office</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="html/external/bootstrap-3.3.5.min.css">
        <link rel="stylesheet" href="html/external/font-awesome-4.3.0/css/font-awesome.min.css">
        <script type="text/javascript" src="html/external/angular-1.3.16.min.js"></script>
        <script type="text/javascript" src="html/controller.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-resource.js"></script>

        <!-- TODO: Change this according to the context -->
        <base href="/">

    </head>
    <body ng-controller="PaperlessCtrl">

        <!-- Navigation bar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Paperless</a>

                <p class="navbar-text navbar-right"><small>Matches: {{img_count}} </small></p>
                <button type="button" class="btn btn-default navbar-btn navbar-right"><i class="fa fa-cog"></i></button>

                <form class="navbar-form" ng-submit="search()">
                    <div class="input-group" style="display:table;">
                        <input type="text" class="form-control" ng-model="searchstring"
                                placeholder="Search">
                        <span class="input-group-btn" style="width:1%;">
                            <button class="btn btn-default" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>

            </div>
        </nav>

        <!-- Notifications -->
        <div class="alert alert-danger" role="alert" ng-show="error"><strong>Error:</strong> {{error}}</div>

        <!-- The list of images -->
        <div class="media" ng-repeat="i in images">
            <div ng-hide="selected">
                <div class="media-left">
                    <a href="{{i.CleanImg}}" target="_self">
                        <img class="img" src="{{i.ThumbImg}}" width="128" height="128" />
                    </a>
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        <div class="btn-group btn-group-xs" role="group">
                            <button ng-click="i.selected = !i.selected" type="button"
                                    ng-attr-class="btn btn-default {{ifTrue(i.selected,'active')}}"
                                    title="Display details" data-toggle="button"><i class="fa fa-file-text-o"> Details</i></button>
                            <button type="button" class="btn btn-default {{ifTrue(i.mark_process, 'active')}}"
                                    title="Mark for manual processing"><i class="fa fa-cogs"></i></button>
                            <button type="button" class="btn btn-default" title="Mark for re-running OCR"><i class="fa fa-eye"></i></button>
                            <button type="button" class="btn btn-default" title="Toggle discarded"><i class="fa fa-trash-o"></i></button>
                            <button type="button" class="btn btn-default" title="Display related images"><i class="fa fa-code-fork"></i></button>
                        </div>
                        <span class="label label-default" ng-repeat="t in i.Tags">{{t}}</span>
                    </div>
                    <div ng-hide="i.selected">
                        {{i.Text}}
                    </div>
                    <div ng-show="i.selected">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Checksum</strong> {{i.Checksum}}</li>
                            <li class="list-group-item"><strong>Scanned date</strong> {{toDate(i.TmScanned) | date:medium}}</li>
                            <li class="list-group-item"><strong>Processed date</strong> {{toDate(i.TmProcessed) | date:medium}}</li>
                            <li class="list-group-item">
                                <button ng-click="i.showLog = !i.showLog"
                                        type="button" class="btn btn-default {{ifTrue(i.showLog, 'active')}}">
                                    <i class="fa fa-bars"></i> Show log</button>
                                <pre ng-show="i.showLog">{{i.ProcessLog}}</pre>
                            </li>
                            <li class="list-group-item">
                                <button ng-click="toggleProcessed(i)"
                                        type="button" class="btn btn-default {{ifTrue(i.showLog, 'active')}}">
                                    <i class="fa fa-bars"></i> Show original image</button><br />
                                <img ng-show="i.showImg" src="{{i.OrigImg}}" />
                            </li>
                        </ul>
                        <pre>{{i.Text}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
